.ui.borderless.menubar.menu {
  background-color: #f7f7f7;
  box-shadow: none;
  border: none;
}

.ui.borderless.menubar.menu .item:hover{
  background-color: #f7f7f7;
}

.ui.borderless.second.menu {
  box-shadow: none;
  border: none;
}

.ui.borderless.second.menu .item:hover{
  background-color: #fff;
}

.footer-background {
  background-color: #292929;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer a {
  color: white;
}

.ui.relaxed.list .item {
  color: white;
}
